<section class="cart-show">
  <header class="page-header">
    <h1>About</h1>
  </header>
    <div class="panel panel-default items">
      <h3>Welcome to the Jungle!</h3>
      <br>
      We are a simple locally owned faux business. We sell all kinds of crazy products that you won't find at typical stores.
      Thanks for coming by!  
    </div>

</section>